<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>MyTableViewController</string>
		<key>dec</key>
		<string>cell的展开视图（复杂的demo）</string>
		<key>createTime</key>
		<string>2016.04.03</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.04.03</string>
		<key>className</key>
		<string>H5WebViewController</string>
		<key>dec</key>
		<string>H5视图</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.13</string>
		<key>className</key>
		<string>MyVideoController</string>
		<key>dec</key>
		<string>视频视图</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.23</string>
		<key>className</key>
		<string>WKWebController</string>
		<key>dec</key>
		<string>WKWebController</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.23</string>
		<key>className</key>
		<string>UIWebController</string>
		<key>dec</key>
		<string>UIWebController</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.29</string>
		<key>className</key>
		<string>AddressSelectorController</string>
		<key>dec</key>
		<string>地址选择器</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.07.23</string>
		<key>className</key>
		<string>DrawQRCodeController</string>
		<key>dec</key>
		<string>生成二维码</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.08.11</string>
		<key>className</key>
		<string>SlideViewController</string>
		<key>dec</key>
		<string>模仿rio首页控制器</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.08.10</string>
		<key>className</key>
		<string>RNMapViewController</string>
		<key>dec</key>
		<string>高德地图</string>
	</dict>
	<dict>
		<key>storyBoard</key>
		<string>LeftMemuStoryboard</string>
		<key>createTime</key>
		<string>2016.08.29</string>
		<key>className</key>
		<string>LeftMemuViewController</string>
		<key>dec</key>
		<string>侧滑菜单</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.07.23</string>
		<key>classArray</key>
		<array>
			<dict>
				<key>createTime</key>
				<string>2016.08.03</string>
				<key>className</key>
				<string>FadeWordViewController</string>
				<key>dec</key>
				<string>横向渐变消失的控件</string>
			</dict>
			<dict>
				<key>createTime</key>
				<string>2016.08.10</string>
				<key>className</key>
				<string>BezierViewController</string>
				<key>dec</key>
				<string>贝塞尔曲线动画</string>
			</dict>
		</array>
		<key>dec</key>
		<string>动画</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.12.13</string>
		<key>className</key>
		<string>KLTextViewController</string>
		<key>dec</key>
		<string>带placeholder的TextView</string>
	</dict>
</array>
</plist>
