<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>MyTableViewController</string>
		<key>dec</key>
		<string>cell的展开视图（复杂的demo）</string>
		<key>createTime</key>
		<string>2016.04.03</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.04.03</string>
		<key>className</key>
		<string>H5WebViewController</string>
		<key>dec</key>
		<string>H5视图</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.13</string>
		<key>className</key>
		<string>MyVideoController</string>
		<key>dec</key>
		<string>视频视图</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.23</string>
		<key>className</key>
		<string>WKWebController</string>
		<key>dec</key>
		<string>WKWebController</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.23</string>
		<key>className</key>
		<string>UIWebController</string>
		<key>dec</key>
		<string>UIWebController</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.06.29</string>
		<key>className</key>
		<string>AddressSelectorController</string>
		<key>dec</key>
		<string>地址选择器</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.07.23</string>
		<key>className</key>
		<string>DrawQRCodeController</string>
		<key>dec</key>
		<string>生成二维码</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.08.11</string>
		<key>className</key>
		<string>SlideViewController</string>
		<key>dec</key>
		<string>模仿rio首页控制器</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.08.10</string>
		<key>className</key>
		<string>RNMapViewController</string>
		<key>dec</key>
		<string>高德地图</string>
	</dict>
	<dict>
		<key>storyBoard</key>
		<string>LeftMemuStoryboard</string>
		<key>createTime</key>
		<string>2016.08.29</string>
		<key>className</key>
		<string>LeftMemuViewController</string>
		<key>dec</key>
		<string>侧滑菜单</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.07.23</string>
		<key>classArray</key>
		<array>
			<dict>
				<key>createTime</key>
				<string>2016.08.03</string>
				<key>className</key>
				<string>FadeWordViewController</string>
				<key>dec</key>
				<string>横向渐变消失的控件</string>
			</dict>
			<dict>
				<key>createTime</key>
				<string>2016.08.10</string>
				<key>className</key>
				<string>BezierViewController</string>
				<key>dec</key>
				<string>贝塞尔曲线动画</string>
			</dict>
		</array>
		<key>dec</key>
		<string>动画</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.12.13</string>
		<key>className</key>
		<string>KLTextViewController</string>
		<key>dec</key>
		<string>带placeholder的TextView</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2016.12.28</string>
		<key>className</key>
		<string>NibBridgeViewController</string>
		<key>dec</key>
		<string>xib桥接demo</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2017.02.06</string>
		<key>className</key>
		<string>LottieViewController</string>
		<key>dec</key>
		<string>airbnb开源动画</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2017.05.08</string>
		<key>className</key>
		<string>RNZoomViewController</string>
		<key>dec</key>
		<string>view窗口化</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2017.05.17</string>
		<key>className</key>
		<string>JSViewController</string>
		<key>dec</key>
		<string>JS调用OCMethond(相机和相册)</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2017.06.23</string>
		<key>className</key>
		<string>DrugViewController</string>
		<key>dec</key>
		<string>电子处方药品动态cell</string>
	</dict>
	<dict>
		<key>createTime</key>
		<string>2017.06.30</string>
		<key>className</key>
		<string>DynamicViewController</string>
		<key>dec</key>
		<string>cell中的动态按钮布局</string>
	</dict>
</array>
</plist>
